<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Android TV requirements -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:banner="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StremioMPVPlayer.Leanback"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Test Activity - TEMPORARY Entry Point -->
        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.StremioMPVPlayer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.StremioMPVPlayer" />

        <!-- User Selection Activity -->
        <activity
            android:name=".UserSelectionActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.StremioMPVPlayer" />

        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.StremioMPVPlayer" />

        <!-- Player Activity -->
        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.StremioMPVPlayer.Fullscreen" />

    </application>

</manifest>